{% extends "base.html" %} 
{% block title %}Admin Portal{% endblock %} 

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %} 
<h1>Welcome, {{ num_users }} people have created an account with us!</h1>
<div class="buttons-container">
    <button class="admin-button" onclick="window.location.href='{{ url_for('admin.newsletters') }}'">Newsletters</button>
    <button class="admin-button" onclick="window.location.href='{{ url_for('admin.database_view') }}'">View Database</button>
</div>
{% endblock %}