{% extends "base.html" %} 
{% block title %}Admin - Database View{% endblock %} 

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
<script src="{{ url_for('static', filename='js/admin_database.js') }}"></script>
{% endblock %}

{% block content %} 

<div class="database-options">
    <select name="table_name" id="table_name" onchange="update_page()">
        {% for table_name in database_tables %} 
        <option value="{{ table_name[0] }}">{{ table_name[0] }}</option>
        {% endfor %}
    </select>

    <select name="field_name" id="field_name" onchange="update_view()">
        <option value=''>-</option>
    </select>

    <input type="text" id="search_query" onchange="update_view()"></input>
</div>
<div class="database-container" id="database_container">

</div>

<script>
    update_page()
</script>
{% endblock %}