{% extends "base.html" %} 
{% block title %}Edit Newsletter{% endblock %} 

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %} 

<h2>Edit Newsletter</h3>

<form class="newsletter-form" id="newsletter-form" name="newsletter-form" action="{{ url_for('admin.edit_newsletter', newsletter_id=newsletter_id) }}" method="post">
    <h4>Subject</h4>
    <input type="text" id="subject" name="subject" value="{{ newsletter[2] }}">
    <label for="send_date">Send Date</label>
    <input type="date" id="send_date" name="send_date" value="{{ date_str }}">
    <h4>Body</h4>
    <textarea form="newsletter-form" id="content" name="content">{{ newsletter[3] }}</textarea>
    <input type="submit"></input>
</form>

{% endblock %}