{% extends "base.html" %} 
{% block title %}Newsletters{% endblock %} 

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %} 

<div class="newsletters-options">

</div>

<div class="newsletter-list">
    {% for newsletter in newsletters %}  
    
    <div class="newsletter">
        <div class="newsletter-content">
            <h3>{{ newsletter[3] }}</h3>
            <span><i>Created By: <a href="{{ url_for('users.account', account_id=newsletter[1]) }}">{{ newsletter[2] }}</a></i></span>
            <span><i>Date Created: {{ newsletter[5] }}</i></span>
            <p>{{ newsletter[4][:64] }}</p>
        </div>
        
        <div class="newsletter-buttons">
            <button class="edit-newsletter" onclick="window.location.href='{{ url_for('admin.edit_newsletter', newsletter_id=newsletter[0]) }}'">Edit</button>
            <button class="delete-newsletter" onclick="window.location.href='{{ url_for('admin.delete_newsletter', newsletter_id=newsletter[0]) }}'">Delete</button>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}