/*
    Documents List View
*/

div.documents-grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    column-gap: 10px;
    row-gap: 20px;
}

div.document {
    padding-left: 20px;
    border-radius: var(--main-border-radius);
    background-color: var(--secondary-background-color);

    width: 95%;
}

button.add-document {
    border-radius: var(--main-border-radius);
    background-color: rgb(112, 231, 112);
    color: white;

    display: block;

    float: right;
}

/* 
    page list view
*/

div.page-list {
    display: block;
    padding: 20px 15% 20px 15%;
}

a.page-link {
    display: block;
    margin: 5px;
}

input.doc-save {
    padding: 10px 5px 10px 5px;
    background-color: var(--primary-highlight-color);
    color: white;
}

button.page-edit {
    border-radius: var(--main-border-radius);
    background-color: var(--primary-highlight-color);
    color: white;
}

button.edit-document {
    border-radius: var(--main-border-radius);
    background-color: var(--secondary-highlight-color);
    color: white;

    display: block;

    margin-top: 5px;
    width: 100%
}

button.delete-document {
    border-radius: var(--main-border-radius);
    background-color: rgb(231, 112, 112);
    color: white;

    display: block;

    margin-top: 5px;
    width: 100%
}

button.add-page {
    border-radius: var(--main-border-radius);
    background-color: var(--primary-highlight-color);
    color: white;

    display: block;

    margin-top: 5px;
    width: 100%
}

div.doc-button-container {
    float: right
}

/*
    Community
*/

div.document-community {
    width: 70%;
    margin: auto;
}