:root {
    --main-border-radius: 5px;
    
    --primary-background-color: rgb(246, 246, 246);
    --secondary-background-color: rgb(231, 239, 241);

    --primary-highlight-color: rgb(86, 86, 247);
    --secondary-highlight-color: rgb(99, 46, 231);

    --navbar-color: rgb(146, 146, 242);

    --error-color: rgb(229, 79, 79);
}

body {
    background-color: var(--primary-background-color);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

input {
    border-radius: var(--main-border-radius);
    border: 0px;
    border-color: black;
    
}

button {
    border: 0px;
    padding: 10px;
}

div.center-wrapper {
    width: 100%;
    display: flex;
    justify-content: center
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 680px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 15px;
    border-radius: 6px;

    top: -5px;
    right: 125%;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
  }

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 10%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }

/*
    Landing Page
*/

div.background-img-wrapper{
    width: 100%;
    z-index: -999;
    position: absolute;

    overflow: hidden;
}

img.background-img {
    object-fit: cover;
    position: relative;
}

.img-background-fade {
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5) 75%, var(--primary-background-color) 100%) repeat scroll 0 0;
    position: relative;
    margin-top: -500px;
    height: 500px;
}

div.landing-content {
    width:1000px;
    margin: auto;
}

div.landing-content > div.left {
    float: left;
    width: 40%;

    justify-content: left;
}

div.landing-content > div.right {
    float: right;
    width: 60%;
}

div.description {
    background-color: var(--primary-highlight-color);
    color: white;
    opacity: 0.75;

    border-radius: var(--main-border-radius);

    width: 90%;
    padding: 20px;
    margin-top: 50px;

    float: left;
}

div.create-account {
    background-color: var(--secondary-highlight-color);
    color: white;
    opacity: 0.75;

    border-radius: var(--main-border-radius);

    width: 90%;
    padding: 20px;
    padding-left: 20px;
    margin-top: 50px;

    float: right;

    position: relative;
}

button.create-account {
    background-color: rgb(87, 216, 87);
    color: white;

    border-radius: var(--main-border-radius);
}

div.reviews {
    border-radius: var(--main-border-radius);
    color: white;

    position: relative;
    display: block;

    padding-top: 310px
}

div.reviews > div.review {
    display: inline;
    width: 100%;

    float: left;

    margin-bottom: 5px;
}

div.reviews > div.review > div.review-user {
    background-color: rgb(32, 32, 32);

    width: 60%;
    float: left;

    font-size: 1.5em;

    padding: 10px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

div.reviews > div.review > div.review-score {
    background-color: rgb(70, 70, 70);

    width: 40%;
    float: right;

    font-size: 1.5em;

    padding: 10px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*
    Jinja2 Base Template
*/

.search {
    border-width: 1px;
    border-color: rgb(96, 96, 96);
    border-style: solid;
    border-radius: 2px;

    font-size: 1em;

    padding: 6px;

    width: 60%;
}

/* navbar */
div.navbar {
    background-color: var(--navbar-color);
    height: 60px;
    top: 0;
    width: 100%;
}

div.navbar > div {
    display: inline-block;
    padding: 5px;
    width: 150px;
    height: 100%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

div.navbar-link-container {
    width: 100%;
    height: 100%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    text-align: center;

    padding: 0px;
}

div.navbar-link-container > a {
    text-decoration: none;
    color: var(--primary-background-color);
}

div.navbar-login {
    background-color: var(--primary-highlight-color);
    margin-right: 0px;
    float: right;
}

div.navbar-account {
    background-color: var(--secondary-highlight-color);
    margin-right: 0px;
    float: right;
}

div.navbar-register {
    background-color: var(--secondary-highlight-color);
    margin-right: 0px;
    float: right;
}

div.content {
    width:70%;
    margin: auto;
    padding-left: 40px;
}

/* sidebar */

div.sidebar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;

    float: left;
    padding-top: 30px;
    width: 200px;
    height: 97vh;
    
    background-color: var(--secondary-background-color);

}

div.sidebar > a {
    display: block;

    margin-left: 10px;
    margin-top: 5px;
    color: rgb(68, 68, 68);

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;

}

div.sidebar-widget {
    border-radius: 0px var(--main-border-radius) var(--main-border-radius) 0px;
    background-color: var(--primary-highlight-color);
    color: white;
    
    width: 60%;

    padding: 20px;
    margin-top: 12px;
    float: left;
}

div.sidebar-widget > a {
    text-decoration: none;
}

/*
    Login & Register Screen
*/

div.login-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.login-container {
    border-radius: var(--main-border-radius);
    background-color: var(--secondary-background-color);

    display: block;
    width: 15%;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;

    margin-top: 10%
}

form.login-form {
    display: block
}

form.login-form > input {
    display: block;

    width: 100%;
    margin: 10px auto;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    padding: 0.4em;
}

form.login-form > input.submit {
    margin-top: 10px;
    margin-right: 0px;

    width: auto;
    padding-left: 20px;
    padding-right: 20px;

    background-color: var(--secondary-highlight-color);
    color: var(--primary-background-color);
}

form.login-form > label {
    font-size: 0.8em;
}

p.error-msg {
    color: var(--error-color);
    font-size: 0.8em;
}

/*
    Comments & Likes
*/

div.like-container {
    float: right;
    margin-right: 20px;
}

button.like-button {
    display: inline;
}

p.like-count {
    display: inline;
    margin-left: 3px;
}

form.comment-form {
    margin-left: 10px;
}

input.comment-form-content {
    height: 2em;
    border-style: solid;
    border-color:rgb(32, 32, 32);
    border-width: 1px;
}

div.comment {
    background-color: var(--secondary-background-color);
    padding: 3px;
    padding-left: 30px;

    border-radius: var(--main-border-radius);

    margin: 10px;
}

span.comment-date {
    font-size: 0.75em;
    color:rgba(68, 68, 68, 0.705);
    margin: 0px;
}

h4.comment-author{
    margin-top: 5px;
    margin-bottom: 0px;
}

p.comment-content {
    margin-top: 5px;
}

/*
Database
*/

table, th, tr {
    border: 1px solid black;
}

table.database-table {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
}

tr.database-row:nth-child(even) {
    background-color: var(--secondary-background-color);
}

th {
    background-color: var(--primary-highlight-color);
    color: white;

    text-align: left;
}

/* 
Dashboard 
*/

div.container-dashboard-doc {
    background-color: var(--secondary-background-color);
    border-radius: var(--main-border-radius);

    padding: 15px;
    margin-bottom: 10px;
}

h3.dashboard-document-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

a.link-dashboard-doc {
    text-decoration: none;
}

a.link-dashboard-user {
    color: rgb(26, 26, 26);
}

p.dashboard-user {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9em;
}

/* 
error pages
*/

div.error-container {
    justify-content: center;
    text-align: center;
    margin: auto;
}

div.error-wrapper {
    margin: auto;
    margin-top: 25vh;
    text-align: center;
}

div.error-wrapper > h1 {
    font-size: 5em;
    margin-bottom: 0px;

    text-shadow: 3px 3px gray;
}

div.error-wrapper > p {
    margin-top: 0px;
    font-weight: 200;
    font-style: italic;
    opacity: 60%;
}