:root {
    --main-border-radius: 5px;
    
    --primary-background-color: rgb(246, 246, 246);
    --secondary-background-color: rgb(231, 239, 241);

    --primary-highlight-color: rgb(86, 86, 247);
    --secondary-highlight-color: rgb(99, 46, 231);

    --navbar-color: rgb(146, 146, 242);

    --error-color: rgb(229, 79, 79);
}

body {
    background-color: var(--primary-background-color);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

input {
    border-radius: var(--main-border-radius);
    border: 0px;
    border-color: black;
    
}

/*
    Jinja2 Base Template
*/

/* navbar */
div.navbar {
    background-color: var(--navbar-color);
    height: 60px;
}

div.navbar > div {
    display: inline-block;
    padding: 5px;
    width: 150px;
    height: 100%;
    box-sizing: border-box;
}

div.navbar-link-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    text-align: center;

    padding: 0px;
}

div.navbar-link-container > a {
    text-decoration: none;
    color: var(--primary-background-color);
}

div.navbar-login {
    background-color: var(--primary-highlight-color);
    margin-right: 0px;
    float: right;
}

div.navbar-account {
    background-color: var(--secondary-highlight-color);
    margin-right: 0px;
    float: right;
}

div.navbar-register {
    background-color: var(--secondary-highlight-color);
    margin-right: 0px;
    float: right;
}

div.content {
    width:100%;
    margin: 0 0 0 0;
}

/*
    Login & Register Screen
*/

div.login-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.login-container {
    border-radius: var(--main-border-radius);
    background-color: var(--secondary-background-color);

    display: block;
    width: 15%;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;

    margin-top: 10%
}

form.login-form {
    display: block
}

form.login-form > input {
    display: block;

    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;

    padding: 0.4em;
}

form.login-form > input.submit {
    margin-top: 10px;
    margin-right: 0px;

    width: auto;
    padding-left: 20px;
    padding-right: 20px;

    background-color: var(--secondary-highlight-color);
    color: var(--primary-background-color);
}

form.login-form > label {
    font-size: 0.8em;
}

p.error-msg {
    color: var(--error-color);
    font-size: 0.8em;
}