{% extends "base.html" %} 
{% block title %}Register{% endblock %} 

{% block content %} 

<div class="login-wrapper">
    <div class="login-container">
        <p class="error-msg">{{ err_msg }}</p>
        <form action="{{ url_for('auth.register') }}" method='post' class="login-form">
            <input type="text" name="username" placeholder="Username" id="username" required>
            <input type="text" name="email" placeholder="Email" id="email" required>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <input type="password" name="password2" placeholder="Enter password again" id="password2" required>
            <div>
                <input type="checkbox" name="newsletter" id="newsletter" value="1" class="newsletter">
                <label for="newsletter">newsletters</label>
            </div>
            <input type="submit" value="Register" class="submit">
        </form>
    </div>
</div>

{% endblock %}