<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <title> {% block title %}{% endblock %}</title>
    {% block head %} 
    {% endblock %}

    {% if session['largefont'] %} 
    <style>
        body {
            font-size: 1.2em;
        }
    </style>
    {% endif %}

</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('main.home') }}"><img style="object-fit: scale-down; height:90%; margin-left:15px;" src="{{ url_for('static', filename='img/logo.png') }}"></a>
        {% if 'loggedin' in session %}

        <a href="{{ url_for('main.changefont') }}">a|A</a>

        <div class="navbar-account">
            <div class="navbar-link-container">
                <a href="{{ url_for('users.account', account_id=session['userid']) }}">Account</a>
            </div>
        </div>

        <div class="navbar-login">
            <div class="navbar-link-container">
                <a href="{{ url_for('auth.logout')}}">Logout</a>
            </div> 
        </div>
        {% else %}
        <div class="navbar-register">
            <div class="navbar-link-container">
                <a href="{{ url_for('auth.register') }}">Register</a>
            </div>
        </div>

        <div class="navbar-login">
            <div class="navbar-link-container">
                <a href="{{ url_for('auth.login') }}">Login</a>
            </div>
        </div>
        {% endif %}
    </div>

    {% if 'loggedin' in session %}

    <div class="sidebar">
        <div class="sidebar-widget">
            <a href="{{ url_for('documents.my_documents') }}">My Documents</a>
        </div>
        
        <div class="sidebar-widget">
            <a>Community</a>
        </div>

        <div class="sidebar-widget">
            <a>Membership</a>
        </div>

        <a><i>About us</i></a>
        <a><i>Admin Portal</i></a>
        <a><i>Newsletter Settings</i></a>
        <a><i>Terms & Conditions</i></a>
        <a><i>Delete Account</i></a>
    </div>

    {% endif %}

    {% block outer %} 
    {% endblock %}

    <div class="content">
        {% block content %} 
        {% endblock %}
    </div>
</body>
</html>