{% extends "base.html" %} 
{% block title %}Home{% endblock %}

{% block outer %}
<div class="background-img-wrapper">
    <img class="background-img" src="https://wallpaperaccess.com/full/1825575.jpg">
    <div class="img-background-fade"></div>
</div>
{% endblock %}

{% block content %}
<div class="description">
    <b>What <i>is</i> LoreLock?</b>
    <p>Only the best tool for creating and sharing creative works, whether it be for a TTRPG, story, or just for fun!</p>
    <p>LoreLock was created by FictionFarm in 2022, whose main goal as a company is to facilitate the creation of amazing fictional works. This place is both a tool <i>and</i> a community, so don't be scared to ask for feedback on anything you create!</p>
</div>
{% endblock %}
