{% extends "base.html" %} 
{% block title %}Document Page{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/documents.css') }}">
<script src="{{ url_for('static', filename='js/document.js') }}"></script>
{% endblock %}

{% block content %}
<div class="page-list">

    <div class="doc-button-container">
    {% if document_owner %}
        <button class="edit-document" onclick="window.location.href='{{ url_for('documents.edit_document', document_id=document_id) }}'">Edit</button>
        <button class="add-page" onclick="window.location.href='{{ url_for('documents.add_page', document_id=document_id) }}'">Add page</button>
        <button class="delete-document" onclick="window.location.href='{{ url_for('documents.delete_document', document_id=document_id) }}'">Delete</button>
    {% endif %} 

    {% if session['access']==2 or session['access']>=2 %} 
        <button class="edit-document" onclick="window.location.href='{{ url_for('documents.private_document', document_id=document_id) }}'">Make Private</button>
        <button class="edit-document" onclick="window.location.href='{{ url_for('documents.restrict_document', document_id=document_id) }}'">Restrict</button>
    {% endif %}

    </div>

    <h1> {{ title }} </h1>
    <p> {{ description }} </p>
    {% for page in pages %} 
        <a class="page-link" href="{{ url_for('documents.page_view', page_id=page[0]) }}">{{ page[1] }}</a>
    {% endfor %}
</div> 

<div class="document-community">
    <h3>Community</h3>
    <div class="like-container">
        <button class="like-button" type="button" onclick="like_document({{ document_id }})">Like</button>
        <p class="like-count" id="likes">{{ num_likes }}</p>
    </div>
    
    <form class="comment-form" id="comment" action="{{ url_for('documents.comment_document', document_id=document_id) }}", method="POST">
        <input class="comment-form-content" type="text" id="content" name="content" required></input>
        <button type="submit">comment</button>
    </form>

    <div id = "comments">

    </div>
</div>

<script>
    get_comments({{ document_id }}, 0)
</script>
{% endblock %} 