{% extends "base.html" %} 
{% block title %}Add Page{% endblock %}

{% block content %} 

{% if action=='add' %}
<form id='page' action="{{ url_for('documents.add_page', document_id=document_id) }}" method="post">
{% elif action=='edit' %}
<form id='page' action="{{ url_for('documents.edit_page', page_id=page_id) }}" method="post">
{% endif %}

    <h3>Page Title</h3>
    <input type="text" name="title" style="display:block" value="{{ page_title }}">
    <h3>content</h3>
    <textarea name="content" form='page' style="height:500px; width:70%; display:block; resize:none">{{ page_content }}</textarea>
    <input type="submit" value="save">

</form>

{% endblock %} 