{% extends "base.html" %} 
{% block title %}My Documents{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/documents.css') }}">
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}

{% block content %}

<button class="add-document" onclick="window.location.href='{{ url_for('documents.add_document') }}'">Create New Document</button>
<h1>You have made <b>{{ num_docs }}</b> documents</h1>

<form>
    <input id="search" class="search" type="text" value="{{ search_query }}">
</form>

<button onclick="search()">search</button>

{% if search_query %} 
<p>Showing documents matching <i>{{ search_query }}</i></p>
{% endif %} 

<div class="documents-grid-container">
    {% for document in documents %}
    <div class="document">
        <h2><a href="{{ url_for('documents.document_view', document_id=document[3]) }}"> {{ document[0] }} </a></h2>
        <p>{{ document[1] }} </p>
        <p>Public: {% if document[2] %} yes {% else %} no {% endif %}</p>
    </div>
    {% endfor %}
</div>
{% endblock %} 