{% extends "base.html" %} 
{% block title %}Document Page{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/documents.css') }}">
<link rel="script" href="{{ url_for('static', filename='js/search.js')">
{% endblock %}

{% block content %}

{% if document_owner %} 
<div class="doc-button-container">
    <button class="edit-document" onclick="window.location.href='{{ url_for('documents.edit_page', page_id=page_id) }}'">edit</button>
    <button class="delete-document" onclick="window.location.href='{{ url_for('documents.delete_page', page_id=page_id) }}'">delete</button>
</div>
{% endif %}
{{ html_content|safe }}
{% endblock %} 